@import 'vendor/bourbon/bourbon'

// mixins

=centered
  margin: 0 auto

// reset

a
  text-decoration: none

*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font-size: 110%

// colors

$main: #AFA // green
// $main: #F92 // orange
$mid:  shade($main, 30%)
$dark: shade($main, 50%)
$link: $mid

a
  color: $link
  &:hover
    color: $dark

nav a
  font-weight: bold

// layout

html, body
  +linear-gradient(#FFF, $mid)
  height: 100%

body > .container
  width: 90%
  +centered

// fonts

h1
  font-family: Impact, Charcoal, sans-serif

// nav

nav a

// 5cms icon

.fivecms
  $bg: #333
  $color: #DDD
  display: inline-block
  position: absolute
  right: 20px
  top: 0
  padding: 3px 8px 5px
  color: $color
  background: $bg
  +border-bottom-radius(5px)
  &:hover
    background: $bg - #111
    color:  $color + #111