!!! 5
%html
  - TITLE = "5CMS"
  %head
    %title= TITLE
    %link{ rel: "stylesheet", href: "/css/main.css" }
    = partial :metas, metas
  %body
    -# .container
    -#   %header
    -#     %h1
    -#       %a{ href: "/" }= TITLE
    -#   %nav
    -#     - site.pages.each do |page|
    -#       %a{ href: page.url }= page.name
    -#   %section.content= yield
    = partial :templates

    %script{ type: "text/javascript", src: "/js/vendor/jquery.js" }
    %script{ type: "text/javascript", src: "/js/vendor/handlebars.js" }
    %script{ type: "text/javascript", src: "/js/vendor/ember.js" }
    %script{ type: "text/javascript", src: "/js/app.js" }