!!! 5
%html
  - TITLE = "Textilecms"
  %head
    %title= TITLE
    %link{ rel: "stylesheet", href: "/css/main.css" }
    = partial :metas, metas
  %body
    #container
      %header
        %h1
          %a{ href: "/" }= TITLE
      %nav
        %a 
      %section.content= yield
    %script{ type: "text/javascript", src: "/js/app.js" }